Problem 1

In [1]:
expense = [2200, 2350, 2600, 2130, 2190]
expense

[2200, 2350, 2600, 2130, 2190]

In [2]:
##1

extra = expense[1]-expense[0]
extra

150

In [3]:
##2
total = expense[0]+ expense[1]+ expense[2]
total

7150

In [4]:
total = 0
for i in range(3):
    total = total + expense[i]
    
print(total)

7150

In [5]:
##3

expense = [2200, 2350, 2000, 2000, 2190]

store = 0

for i in range(len(expense)):
    if expense[i] == 2000:
        store = store + i
        print('Spent 2000 in month {}'.format(i+1))

if store == 0:
    print('Did not spend 2000 in any month')

Spent 2000 in month 3
Spent 2000 in month 4

In [6]:
##chatgpt


found = False #flag to indicate if the expense is found

for i in range(len(expense)):
    if expense[i] == 2000:
        found = True
        print('Spent 2000 in month {}'.format(i+1)) #month starts at 1st, not 0

if found == False:
    print('Did not spend 2000 in any month')

Spent 2000 in month 3
Spent 2000 in month 4

In [7]:
##Codebasics solution

2200 in expense

True

In [8]:
##4

expense = [2200, 2350, 2600, 2130, 2190]
expense.insert(5, 1980) ##expense.append(1980)
print("Expense at the end of June:", expense)

Expense at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]

In [9]:
###5

x = expense[3]-200
x

1930

In [10]:
expense.pop(3) ## delete the value from index 3
expense.insert(3, x)
expense

[2200, 2350, 2600, 1930, 2190, 1980]

In [11]:

##codebasics solution
expense = [2200, 2350, 2600, 2130, 2190]
expense[3]= expense[3] - 200

expense

[2200, 2350, 2600, 1930, 2190]

Problem 2

In [12]:
##1
heros=['spider man','thor','hulk','iron man','captain america']
len(heros)

5

In [13]:
##2
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [14]:
##3
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [15]:
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [16]:
###4
heros[1:3] = ['doctor strange']

heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [17]:
###5

heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Problem 3
Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [22]:
max = int(input("Enter an intergar number"))

In [23]:
print("The number you entered is:", max)

The number you entered is: 19

In [24]:
odd_list = list(range(1,max,2))
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
##codebasics solution

max = int(input("Enter an intergar number"))

odd_list2 = []

for i in range(1,max):
    if i%2==1:
        odd_list2.append(i)

print(odd_list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17]